<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isLoggedIn</key>
	<false/>
	<key>FirstLogin</key>
	<true/>
	<key>Language</key>
	<string>English</string>
	<key>isDemo</key>
	<false/>
	<key>mainPage</key>
	<integer>0</integer>
	<key>GraphType</key>
	<integer>0</integer>
	<key>ThemeType</key>
	<integer>2</integer>
	<key>Theme_Blue</key>
	<string>#264E8E</string>
	<key>Theme_Green</key>
	<string>#5FD0BF</string>
	<key>Theme_Red</key>
	<string>#EE6C68</string>
	<key>Theme_Dark</key>
	<string>#606C83</string>
	<key>Theme_Bottom</key>
	<string>#230202</string>
</dict>
</plist>
