<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isLoggedIn</key>
	<false/>
	<key>FirstLogin</key>
	<true/>
	<key>Language</key>
	<string>English</string>
	<key>isDemo</key>
	<false/>
	<key>mainPage</key>
	<integer>0</integer>
	<key>GraphType</key>
	<integer>0</integer>
	<key>ThemeType</key>
	<integer>0</integer>
</dict>
</plist>
