<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Theme_Default</key>
	<string>#2C354B</string>
	<key>Theme_Blue</key>
	<string>#264E8E</string>
	<key>Theme_Red</key>
	<string>#EE6C68</string>
	<key>Theme_Pink</key>
	<string>#E86091</string>
	<key>Theme_Bottom</key>
	<string>#230202</string>
</dict>
</plist>
