<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundColor_Regular</key>
	<string>#545454</string>
	<key>BackgroundColor_Dark</key>
	<string>#969696</string>
	<key>BackgroundColor_Light</key>
	<string>#969696</string>
	<key>GradientColor_Top</key>
	<string>#969696</string>
	<key>GradientColor_Bottom</key>
	<string>#969696</string>
	<key>Font_Bold</key>
	<string>Poppins-Bold</string>
	<key>Font_SemiBold</key>
	<string>Poppins-SemiBold</string>
	<key>Font_Medium</key>
	<string>Poppins-Medium</string>
	<key>Font_Regular</key>
	<string>Poppins-Regular</string>
	<key>Font_Italic</key>
	<string>Poppins-Italic</string>
	<key>FontSize_Large</key>
	<integer>20</integer>
	<key>FontSize_Medium</key>
	<integer>16</integer>
	<key>FontSize_Small</key>
	<integer>12</integer>
	<key>Font_Color</key>
	<string>#FFFFFF</string>
	<key>Score_30</key>
	<string>#FF4528</string>
	<key>Score_80</key>
	<string>#08CE50</string>
	<key>Score_30_80</key>
	<string>#E8E000
</string>
</dict>
</plist>
