<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LoginPage_Title</key>
	<dict>
		<key>value</key>
		<string>أهلا بك
</string>
		<key>comments</key>
		<string></string>
	</dict>
	<key>Level_Basic</key>
	<dict>
		<key>value</key>
		<string>الأساسية</string>
	</dict>
	<key>Level_Intermediate</key>
	<dict>
		<key>value</key>
		<string>متوسط</string>
	</dict>
	<key>Level_Advance</key>
	<dict>
		<key>value</key>
		<string>تقدم</string>
	</dict>
	<key>LoginPage_ForgotPassword</key>
	<dict>
		<key>value</key>
		<string>هل نسيت كلمة المرور</string>
	</dict>
	<key>LoginPage_SignUp</key>
	<dict>
		<key>value</key>
		<string>سجل</string>
	</dict>
	<key>LoginPage_Login</key>
	<dict>
		<key>value</key>
		<string>تسجيل الدخول
</string>
	</dict>
	<key>Language</key>
	<dict>
		<key>value</key>
		<string>لغة</string>
	</dict>
	<key>My_Account</key>
	<dict>
		<key>value</key>
		<string> حسابي </string>
	</dict>
	<key>Announcements</key>
	<dict>
		<key>value</key>
		<string> الإعلانات </string>
	</dict>
	<key>Aboutus</key>
	<dict>
		<key>value</key>
		<string>معلومات عنا</string>
	</dict>
	<key>Logout</key>
	<dict>
		<key>value</key>
		<string> الخروج </string>
	</dict>
	<key>MainPage</key>
	<dict>
		<key>value</key>
		<string>الشاشة الرئيسية</string>
	</dict>
	<key>GraphType</key>
	<dict>
		<key>value</key>
		<string>نوع الرسم البياني</string>
	</dict>
	<key>Settings</key>
	<dict>
		<key>value</key>
		<string> إعدادات</string>
	</dict>
	<key>Theme</key>
	<dict>
		<key>value</key>
		<string> موضوع</string>
	</dict>

</dict>
</plist>
